*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
footer {
    border-top: 3px solid #2271D1;
    box-shadow: 0 0 10px #2271D1;
    color: white;
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100vw;
}
.mobile-ver{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3% 20%; 
    width: 100vw;

}
.btn-footer{
    box-shadow: 0 0 10px rgba(12, 8, 231, 0.658);
    border-radius: 2rem;
    text-transform: uppercase;
    width: 167px;
    height: 54px;
    border: 2px solid #2271D1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.btn-footer span{
    color: #2271D1;
    font-size: 1rem;
    margin-top: 5px;
}
.btn-more{
 border: none;
}
.btn-more img{
 width: 45px;
}
img{
    width: 1rem;
}
.desktop-ver{
    display: none;
}
@media (min-width: 768px){
    .mobile-ver{
        display: none;
    }
    .desktop-ver{
        display: flex;
        height: 125px;
    }
    .logo-alura{
        width: 150px;
        margin-right: 20px;
    }
    footer{
        display: flex;
        justify-content: center;
        align-items: center;

    }
}